{% extends 'base.html' %}
{% load static %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
jQuery(document).ready(function(e){
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var phone_num = button.data('recip');
        var name = button.data('first');
        var id = button.data('id');
        var modal = $(this);
        modal.find('.modal-title').text('Text ' + phone_num + ' to contact ' + name);
        modal.find('.btn btn-primary').val(id);
    });
});
</script>

<br>
<div class="modal fade" role="dialog" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'home:index' %}" method="POST" class="form-horizontal" role="form">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="username_button">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="page-section" id="notification-center">
      <div class="container">
        <div class="row">

          <!-- Start of Title and toggle -->
          <div class="col-lg-3">
              <h3>Notification Center</h3>
              <!-- Insert toggle button here -->
          </div>
          <!-- End of Title and toggle -->


          <!-- Start of Online Tutors -->
          <div class="col-lg-5 text-left">

            <!-- Start of hard coded notifications -->
            <br>
<!--              same_location is a list of requests-->
            {% for student in same_classes %}
            <div class="card" id="{{student.user.username}}">
               <div class="card-body">
                   <div class="text-center">
                       <p class="card-text"><b>{{student.user.first_name}} {{student.user.last_name}}</b> is at <b>{{student.location}}</b> looking for a tutor in:
                           <br><b>{{student.classes}}</b></b></p>
                       <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                               data-recip="{{student.phone}}" data-first="{{student.user.first_name}}"
                               data-username="{{student.user.username}}" value="{{student.id}}">
                       Accept
                       </button>
                   </div>
               </div>
            </div>
            {% endfor %}
            <!-- End of hard coded notifications -->
          </div>
          <!-- End of Online Tutors -->


          <!-- Start Profile Card -->
          <div class="col-lg-4 right-align">
            <div class="card">
              <div class="card-body position-sticky" id="profile-card">
                <h4 class="card-title">Profile</h4>
                <!-- Insert user's profile info here -->
                <p class="card-text"><b>Name: </b>{{userprofile.user.first_name}} {{userprofile.user.last_name}}</p>
                <p class="card-text"><b>Phone Number: </b>{{userprofile.phone}}</p>
                <p class="card-text"><b>Tutoring in: </b>
                  {% for class in classes %}
                  <span class="badge badge-primary badge-pill">{{class}}</span>
                  {% endfor %}
                </p>
                <p class="card-text"><b>Location : </b>{{userprofile.location}}</p>

              </div>
            </div>
          </div>
          <!-- End of Profile Card -->

      </div> <!-- End row div -->
    </div> <!-- End row container -->
</div> <!-- End page section div -->



{% endblock %}
