{% extends 'base.html' %}

{% load static %}


{% block body %}
<br>
<div class="page-section">
      <div class="container">
        <div class="row">

          <!-- Start of Title and toggle -->
          <div class="col-lg-3">
              <h3>Notification Center</h3>
              <!-- Insert toggle button here -->
          </div>
          <!-- End of Title and toggle -->


          <!-- Start of Online Tutors -->
          <div class="col-lg-5 text-left">
            <br><br><br>

            <!-- Start of hard coded notifications -->
            <br>
            {% for student in same_location %}
            <div class="card" id="{{student.user.username}}">
               <div class="card-body">
                <p class="card-text"><b>{{student.user.first_name}} {{student.user.last_name}}</b> is looking for a tutor in <b>{{student.classes}}</b></b></p>
                <p class="card-text"> <b>Text {{student.phone}}</b> to contact them.</p>
               </div>
            </div>
            {% endfor %}
            <!-- End of hard coded notifications -->
          </div>
          <!-- End of Online Tutors -->


          <!-- Start Profile Card -->
          <div class="col-lg-4 right-align">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <!-- Insert user's profile info here -->
                <p class="card-text"><b>Name: </b>{{userprofile.user.first_name}} {{userprofile.user.last_name}}</p>
                <p class="card-text"><b>Phone Number: </b>{{userprofile.phone}}</p>
                <p class="card-text"><b>Tutoring in: </b>
                  {% for class in classes %}
                  <span class="badge badge-primary badge-pill">{{class}}</span>
                  {% endfor %}
                </p>
                <p class="card-text"><b>Location : </b>{{userprofile.location}}</p>

              </div>
            </div>
          </div>
          <!-- End of Profile Card -->

      </div> <!-- End row div -->
    </div> <!-- End row container -->
</div> <!-- End page section div -->





{% endblock %}