{% extends 'base.html' %}

{% load static %}


{% block body %}
<br>
<div class="page-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 text-center">
            <br><br><br>
            <h1 class="section-heading text">Waiting for tutor...</h1>
            <!-- <iframe src="https://giphy.com/embed/hr1YxQKno3Di0" width="480" height=“288” frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/web-design-hr1YxQKno3Di0">via GIPHY</a></p>-->
            <iframe src="https://giphy.com/embed/hr1YxQKno3Di0" width="500" height=“300” frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/web-design-hr1YxQKno3Di0">via GIPHY</a></p>
            <!--<img class="img-fluid" width="500" height="300" src="{% static 'home/img/loading.jpg' %}" alt="www.webfirm.com" > -->
          </div>




      </div> <!-- End row div -->
    </div> <!-- End row container -->
</div> <!-- End page section div -->





{% endblock %}
