{% extends 'base.html' %}

{% load static %}


{% block body %}
<br>
<div class="page-section">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 text-center">
            <br><br><br>
            <h1 class="section-heading text">Waiting for tutor...</h1>
            <!-- <iframe src="https://giphy.com/embed/hr1YxQKno3Di0" width="480" height=“288” frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/web-design-hr1YxQKno3Di0">via GIPHY</a></p>-->
            <iframe src="https://giphy.com/embed/hr1YxQKno3Di0" width="500" height=“300” frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/web-design-hr1YxQKno3Di0">via GIPHY</a></p>
            <!--<img class="img-fluid" width="500" height="300" src="{% static 'home/img/loading.jpg' %}" alt="www.webfirm.com" > -->
          </div>


          <!-- Start Profile Card -->
          <div class="col-lg-4 right-align">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <!-- Insert user's profile info here -->
                <p class="card-text"><b>Name: </b>{{userprofile.user.first_name}} {{userprofile.user.last_name}}</p>
                <p class="card-text"><b>Phone Number: </b>{{userprofile.phone}}</p>
                <p class="card-text"><b>Classes: </b>
                  {% for class in classes %}
                  <span class="badge badge-primary badge-pill">{{class}}</span>
                  {% endfor %}
                </p>
                <p class="card-text"><b>Location : </b>{{userprofile.location}}</p>

              </div>
            </div>
          </div>
          <!-- End of Profile Card -->


      </div> <!-- End row div -->
    </div> <!-- End row container -->
</div> <!-- End page section div -->





{% endblock %}
