
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <meta name="description" content="Tutor Preference">
      <meta name="author" content="aa2de">
      <title>QuestionConnection</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />  
   </head>
   
   <style>
    .container {
        overflow: auto;
    }
   </style>
   

   <body>
      <div class="container-fluid">
        <form action="{% url 'login:hrdirect' %}" method="POST"> {% csrf_token %}
         <div class="form-row align-items-center">
            <label>Select Classes</label>
	        <select class="selectpicker" multiple data-live-search="true" name="classes">
                {% for class in classes %}
                <option value="{{class}}">{{class}}</option> 
                {% endfor %}
	        </select>
          </div>
            <label for="location">Choose a Location:</label>
                <select class="selectpicker" name="location">
                    {% for location in locations_list %}
                        <option id="location{{ forloop.counter }}" value="{{ location.placeName }}">{{ location.getPlaceName }}</option>
                    {% endfor %}
                </select>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Set</button>
          </div>
        </form>
      </div>



      <!-- Footer -->
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; SCRUMptious 2020</p>
         </div>
      </footer>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
      <!-- (Optional) Latest compiled and minified JavaScript translation files -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>    

    </body>
</html>