{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Question Connection</title>
<script>
   if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
      $('.selectpicker').selectpicker('mobile');
   }

   class Queue{
      constructor() {
        this.queue = [];
      }
      enqueue(val){
         if(!this.queue.includes(val)){
            this.queue.push(val);
         }
      }
      dequeue(){
         if(this.queue.length == 0){
            return "Underflow";
         }
         return this.queue.shift();
      }
      length(){
         return this.queue.length;
      }
   }

   var q = new Queue();
   function limitClasses(selections){
      for(var i = 0;  i < selections.length; i++){
         var val = selections.options[i];
         if (val.selected){
            q.enqueue(val);
         }
      }
      if(q.length() == 6){
         q.dequeue().selected = false;
         $("#class_list").selectpicker('refresh');
      }
   }
   function searchClasses() {
      var selections = document.getElementById("class_list");
      limitClasses(selections);
      var cp = document.getElementById("cp");
      for (var i = 0; i < selections.length; i++) {
         var val = selections.options[i];
          if (val.selected) {
             if(val.value == "nil"){
                val.selected = false;
             } else {
               if(!document.getElementById(val.value)){
                  var tmp = document.createElement("span");
                  tmp.className = "badge badge-primary badge-pill";
                  tmp.innerText = val.value;
                  tmp.id = val.value;
                  cp.appendChild(tmp);
                  var br = document.createElement("br")
                  br.id = (val.value + "br")
                  cp.appendChild(br);
               }
             }
          } else {
               if(document.getElementById(val.value)){
                  document.getElementById(val.value).remove();
                  document.getElementById(val.value+"br").remove();
               }
          }
      }
  }
</script>
{% endblock %}


{% block navbar %}
  <ul class="navbar-nav text-uppercase ml-auto">
    <li class="nav-item">
      <a class="btn btn-primary btn-sm" href="{% url 'login:logout' %}">Logout</a>
    </li>
  </ul>
{% endblock %}

{% block body %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<br>
<div class="page-section" id="intro-form-heading">
   <div class="container">
      <div class=row>
         <div class="column px-3">
            {% if not is_tutor %}
            <h2>Select the class that you need help in: </h2>
            {% else %}
            <h2>Select up to 5 classes that you can help in: </h2>
            {% endif %}
            <div class="container-fluid">
               <form action="{% url 'home:create_request' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                     <div class="form-group px-2">
                        <div class="form-row align-items-center">
                           {% if is_tutor %}
                           <label>Select Classes:</label>
                           {% else %}
                           <label>Select Class:</label>
                           {% endif %}
                           {% if is_tutor %}
                           <select class="selectpicker" multiple data-live-search="true" id="class_list" name="classes">
                           {% else %}
                           <select class="selectpicker" data-live-search="true" id="class_list" name="classes">
                           {% endif %}
                              <option value="nil" selected="selected"></option>
                              {% for class in classes %}
                              <option value="{{class}}">{{class}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <div class="form-group px-2">
                        <label for="location">Choose a Location:</label>
                        <select class="selectpicker" name="location">
                           {% for location in locations_list %}
                           <option id="location{{ forloop.counter }}" value="{{ location.placeName }}">{{ location.getPlaceName }}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>
                  <div class="form-group my-1">
                     <button type="submit" class="btn btn-primary">Set</button>
                  </div>
               </form>
            </div>
         </div>
         <div class="card">
            <div class="px-2">
               <div class="column">
                  {% if is_tutor %}
                  <label>Classes Picked:</label>
                  {% else %}
                  <label>Class Picked:</label>
                  {% endif %}
                  <div class="list-group" id="cp">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>


<script>
   $("#class_list").change( function (){
      searchClasses();
   });
</script>



{% endblock %}
