{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Question Connection</title>
{% endblock %}


{% block navbar %}
{% endblock %}

{% block body %}
<section class="page-section" id="edit">
    <div class="container">
        <div class="row">
            <form method="post"> {% csrf_token %}
                {{ form.as_p }}
                <label for="location">Choose a Location:</label>
                <select class="selectpicker" name="location">
                    {% for location in locations_list %}
                        <option id="location{{ forloop.counter }}" value="{{ location.placeName }}">{{ location.getPlaceName }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}


<a class="btn btn-primary btn-lg" href="{% url 'login:logout' %}">Logout</a>
            <br>
            <div class="row mt-3"></div>
              <a type="button" class="btn btn-outline-secondary" href="{% url 'login:authflow' %}">Get Started!</a>
