{% extends 'base.html' %}

{% load static %}


{% block body %}

<!-- Intro and form -->
<div class="page-section" id="intro-form-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <img class="img-fluid" width="500" height="300" src="{% static 'login/img/tutor_form/welcome_tutor.jpg' %}" alt="image created by pikisuperstar - www.freepik.com" >
            <h2 class="section-heading text-uppercase">Hello, {{ user.first_name }}!</h2>
            <h3 class="section-subheading text-muted">At Question Connection you can pick between being a tutor or getting help from a tutor</h3>
            </div>
        </div>
      </div>


      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <div class="container" align="center">
        <div class="row" align="center">
          <div class="col-sm-6 text-center" align="center">
              <div class="card" align="center">
                <div class="card-body">
                  <h5 class="card-title">Be a Tutor!</h5>
                  <p class="card-text">Help your peers! They will come to you to get their questions answered.</p>
                  <a href="{% url 'login:tutor' %}" class="btn btn-primary">Tutor</a>
                </div>
              </div>
          </div>
            <div class="col-sm-6 text-center" align="center">
              <div class="card" align="center">
                <div class="card-body">
                  <h5 class="card-title">Get Tutored!</h5>
                  <p class="card-text">Let us know your question and we'll connect you with a tutor that can help.</p>
                  <a href="{% url 'login:tutee' %}" class="btn btn-primary">Get Tutored</a>
                </div>
              </div>
            </div>
        </div>
      </div>
</div>





{% endblock %}