<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block head %}
  <title>Question Connection</title>
  {% endblock %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  <!-- Custom fonts for this template -->
  <link href="{% static 'login/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Kaushan+Script' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' %}" rel='stylesheet' type='text/css'>
  <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' %}" rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'login/css/agency.css' %}" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'login:index' %}">
        <img src="{% static 'login/img/logo.png' %}" width="150" height="50">
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        {% block navbar %}
        <ul class="navbar-nav text-uppercase ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'home:index' %}">Tutors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login:edit_profile' %}">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url "login:social:begin" "google-oauth2" %}">Login</a>
          </li>
          {% endif %}
        </ul>
        {% endblock %}
      </div>
    </div>
  </nav>

{% block body %}
{% endblock %}


  <!-- Footer -->
  <footer class="footer">
     <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SCRUMptious 2020</p>
     </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'login/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'login/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'login/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'login/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'login/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'login/js/agency.min.js' %}"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>      


</body>


</html>